*
{
    margin: 0;
    padding: 0;
}

body
{
    background: url("../img/Background.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.7rem;
}

header
{
    margin: 3em 0;
    text-align: center;
}

header > img
{
    height: 50%;
    width: 50%;
    opacity: 0.5;
}

main
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.Left, .Right {
    margin: 0.5em;
}

.Register, .Send, .Sign, .Rec, .Sub
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1, h2
{
    text-transform: capitalize;
    font-weight: normal;
    color: white;
}

.Content
{
    background-color: #F4F4F4;
    padding: 1em;
    margin: 1em 0;
    border-radius: 0.25em;
	border: 10px solid rgba(0, 0, 0, 0.3);
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.User, .Password, .Email, .Location, .Name, .Phone
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
    margin-bottom: 1em;
    padding: 0.25em 0;
    border: 1px solid #DEDEDE;
    border-radius: 0.25em;
}

.Icon
{
    width: 2em;
    padding: 0 1em;
}

.Icon > img
{
    height: 60%;
    width: 60%;
}

.User > .Icon > img
{
    height: 80%;
    width: 80%;
}

.Email > .Icon > img
{
    height: 60%;
    width: 80%;
}

.Text > input
{
    height: calc(2em - 6px);
    font-size: 0.9rem;
    background-color: #F4F4F4;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #DEDEDE;
    padding-left: 1em;
}

.Text > input::placeholder
{
    color: #AFAFAF;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.CheckList
{
    color: #AFAFAF;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 0.5em;
}

.Check
{
    height: 0.5em;
    width: 0.5em;
    border: 3px solid #C6C6C6;
    border-radius: 0.1em;
    margin-right: 0.5em;
    cursor: pointer;
}

.red
{
    background-color: #F4F4F4;
}

.green
{
    background-color: #3A9A00;
}

.ButtonTwo, .ButtonRed, .Button, .ButtonOpacity
{
    padding: 0.75em 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 0.25em;
    cursor: pointer;
}

.Button
{
    display: block;
    width: 100%;
    background: linear-gradient(white, #3A9A00, #3A9A00, #3A9A00);
    border: 1px solid #3A9A00;
}

.ButtonTwo
{
    flex-basis: 40%;
    background: linear-gradient(white, #3A9A00, #3A9A00, #3A9A00);
    border: 1px solid #3A9A00;
}

.ButtonRed
{
    flex-basis: 40%;
    background-color: red;
    border: 1px solid crimson;
}

.ButtonOpacity
{
    flex-basis: 40%;
    opacity: 0.5;
    background: linear-gradient(white, #3A9A00, #3A9A00, #3A9A00);
    border: 1px solid #3A9A00;
}

textarea
{
    width: calc(100% - 2px - 0.5em);
    height: 10em;
    border: 1px solid #DEDEDE;
    border-radius: 0.25em;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

textarea::placeholder
{
    color: #AFAFAF;
    text-transform: capitalize;
}

.Row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer
{
    margin: 2em 0;
    opacity: 0.5;
}

footer > img
{
    width: 20em;
    height: 10em;
}