/*
    ##Device = Monitors
    ##Screen = 1920px to higher resolution desktops
*/
@media (min-width: 1080px) and (max-width: 1920px) and (orientation: landscape) {
    header
    {
        padding: 4em;
    }
    nav > ul > li
    {
    margin-right: 2em;
    }
    .Button
    {
        width: 20%;
    }
    .OnePageIntro
    {
        padding: 10em;
    }
    .TwoPageIcon > div
    {
        flex-basis: 25%;
    }
    .ThreeFontPage
    {
        padding: 10em 5em;
    }
    .FourPage
    {
        margin: 5em 0;
    }
    .FourPageIconOne, .FourPageIconTwo, .FourPageIconThree
    {
        background-size: 40%;
        padding: 1.5em 1em;
    }
    .FivePage
    {
        text-align: center;
        padding: 3em;
    }
    .FivePageIconLine
    {
        width: 30vw;
    }
    .SevenPage
    {
        padding: 3em 0;
    }
    .Button2
    {
        width: 10%;
    }
    .Logos > img
    {
    width: 50%;
    height: 50%;
    }
    .ContactContainer
    {
        padding: 4em;
    }
    .ContactPage > div > img
    {
        height: 10%;
        width: 10%;
    }
    footer
    {
        padding: 2em 10em;
    }
}
/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1600px) {
    header
    {
        padding: 4em;
    }
    nav > ul > li
    {
    margin-right: 2em;
    }
    .Button
    {
        width: 10%;
    }
    .OnePageIntro
    {
        padding: 10em;
    }
    .TwoPageIcon > div
    {
        flex-basis: 25%;
    }
    .ThreeFontPage
    {
        padding: 10em 5em;
    }
    .FourPage
    {
        margin: 5em 0;
    }
    .FourPageIconOne, .FourPageIconTwo, .FourPageIconThree
    {
        background-size: 40%;
        padding: 1.5em 1em;
    }
    .FivePage
    {
        text-align: center;
        padding: 3em;
    }
    .FivePageIconLine
    {
        width: 27vw;
    }
    .SevenPage
    {
        padding: 3em 0;
    }
    .Button2
    {
        width: 10%;
    }
    .Logos > img
    {
    width: 50%;
    height: 50%;
    }
    .ContactContainer
    {
        padding: 4em;
    }
    .ContactPage > div > img
    {
        height: 10%;
        width: 10%;
    }
    footer
    {
        padding: 2em 10em;
    }
}

/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    header
    {
        padding: 1em 4em;
    }
    nav > ul > li
    {
    margin-right: 2em;
    }
    .Button
    {
        width: 10%;
    }
    .OnePageIntro
    {
        padding: 10em;
    }
    .TwoPageIcon > div
    {
        flex-basis: 25%;
    }
    .ThreeFontPage
    {
        padding: 10em 5em;
    }
    .FourPage
    {
        margin: 5em 0;
    }
    .FourPageIconOne, .FourPageIconTwo, .FourPageIconThree
    {
        background-size: 40%;
        padding: 1.5em 1em;
    }
    .FivePage
    {
        text-align: center;
        padding: 3em;
    }
    .FivePageIconLine
    {
        width: 25vw;
    }
    .SevenPage
    {
        padding: 3em 0;
    }
    .Button2
    {
        width: 10%;
    }
    .Logos > img
    {
    width: 50%;
    height: 50%;
    }
    .ContactContainer
    {
        padding: 4em;
    }
    .ContactPage > div > img
    {
        height: 10%;
        width: 10%;
    }
    footer
    {
        padding: 2em 10em;
    }
}

/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    header
    {
        padding: 1em 4em;
    }
    nav > ul > li
    {
    margin-right: 2em;
    }
    .Button
    {
        width: 15%;
    }
    .OnePageIntro
    {
        padding: 10em;
    }
    .TwoPageIcon > div
    {
        flex-basis: 25%;
    }
    .ThreeFontPage
    {
        padding: 10em 5em;
    }
    .FourPage
    {
        margin: 5em 0;
    }
    .FourPageIconOne, .FourPageIconTwo, .FourPageIconThree
    {
        background-size: 40%;
        padding: 1.5em 1em;
    }
    .FivePage
    {
        text-align: center;
        padding: 3em;
    }
    .FivePageIconLine
    {
        width: 20vw;
    }
    .SevenPage
    {
        padding: 3em 0;
    }
    .Button2
    {
        width: 10%;
    }
    .Logos > img
    {
    width: 50%;
    height: 50%;
    }
    .ContactContainer
    {
        padding: 4em;
    }
    .ContactPage > div > img
    {
        height: 10%;
        width: 10%;
    }
    footer
    {
        padding: 2em 10em;
    }
}

/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .Button
    {
        width: 10%;
    }
    .FivePageIconLine
    {
        width: 25vw;
    }
    .TwoPageIcon > div
    {
        flex-basis: 25%;
    }
}

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .Button
    {
        width: 20%;
    }
    .FivePage
    {
        text-align: center;
    }
    .FivePageIconLine
    {
        width: 18vw;
    }
    .Button2
    {
        width: 20%;
    }
    footer
    {
        padding: 2em 5em;
    }
}

/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .Button2
    {
        width: 30%;
    }
}