*
{
    margin: 0;
    padding: 0;
}

body
{
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    color: white;
    background-color: #707070;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > ul
{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    list-style-type: none;
}

header > ul > li
{
    margin: 1em;
    flex-basis: 20%;
    cursor: pointer;
}

header > ul > li:hover
{
    border: 1px solid white;
    border-radius: 100%;
}

header > div
{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.AvatarMenu
{
    height: 0;
    width: 0;
    margin: 0 1em;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}