*
{
    margin: 0;
    padding: 0;
}

body
{
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

header
{
    background: url("../img/Blue.jpg") no-repeat;
    background-size: 100% 100%;
    height: 10%;
    width: 100%;
    position: absolute;
}

.AvatarMenu
{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    height: 0;
    width: 0;
}

.Intro
{
    background: url("../img/OnePage.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    position: relative;
}

li:hover
{
    border: 1px solid white;
    border-radius: 2em;
}

h3
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    color: #29D9C2;
}

h6
{
    color: #29D9C2;
}
h1
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
}

.Bg
{
    background-color: #F2FEFE;
}

.Clip1
{
    background: url("../img/Clip1.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.Clip2
{
    background: url("../img/Clip2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.Montain
{
    background: url("../img/montain.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.Planer
{
    background-color: #FFFFA6;
}

.opacity
{
    opacity: 0.5;
}

.img
{
    height: 10vh;
    width: 15vw;
}

.dashed
{
    border: 2px dashed #AEA25C;
}

.Contact
{
    background: url("../img/Contact.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

footer
{
    background: url("../img/footer.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.off
{
    display: none;
}
