*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: grey;
    color: black;
    font-size: 0.45rem;
    font-family: Arial, Helvetica, sans-serif;
}

.HomeContainer
{
    display: flex;
    flex-direction: column;
    background: url('../img/Home.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 40em;
}

.HeaderNav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
}

h1
{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.2rem;
}

nav > ul
{
    display: flex;
    flex-direction: row;
}

nav > ul > li
{
    margin-left: 0.5em;
    margin-top: 1px;
    text-transform: uppercase;
    list-style-type: none;
    cursor: pointer;
}

nav > ul > li:hover
{
    border-top: 1px solid #FF6033;
    margin-top: 0;
}

.HomeDiv
{
    width: 40%;
    margin: auto 0 auto 4em;
}

h2
{
    font-size: 0.8rem;
    font-weight: 900;
}

.HomeDiv > p
{
    width: 100%;
}

.ClickHome
{
    background-color: #FF6033;
    color: white;
    text-transform: uppercase;
    padding: 0.5em 0;
    font-size: 0.45rem;
    width: 60%;
}

.TwoPage
{
    background-color: #00C4C4;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.TwoImg
{
    height: 40%;
    width: 40%;
}

.TwoText
{
    margin: 0.5em 0 0.5em 1.5em;
    width: 30%;
}

.TwoText :first-child
{
    margin-bottom: 0.5em;
}

.ThreePage
{
    background-color: #70BFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6em 1em;
}

.ThreeLeft {
    flex-basis: 50%;
}

.ThreeNav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 1em;
    box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}

.ThreeNav > ul
{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.ThreeNav > ul > li
{
    list-style-type: none;
    margin: 0 1em;
}

.ThreeNav > ul > li > p
{
    text-align: center;
}

.ThreeNav > img
{
    width: 10%;
    height: 10%;
    padding: 1em;
    border-left: 1px solid #9D9D9D;
}

.ThreeRight
{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 2em;
}

.ThreeRight > img
{
    position: absolute;
    height: 17em;
    width: 17em;
}

h3
{
    position: relative;
    font-size: 1.1rem;
    color: white;
}

.FourPage
{
    background-color: #FFE92F;
    text-align: center;
    padding: 3em 2em;
}

.FourText
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.FourText > p
{
    width: 75%;
    margin: 0.5em 0;
}

.GalleryOne
{
    display: flex;
    flex-direction: row;
}

.ImgGalleryOne
{
    height: 70%;
    width: 70%;
    margin-right: 1em;
}

.GalleryTwo
{
    display: flex;
    flex-direction: column;
}

.GalleryTwo :last-child
{
    margin-top: 1em;
}

.ImgGalleryTwo
{
    height: calc(50% - 0.5em);
    width: 100%;
}

.GalleryThree
{
    display: flex;
    margin: 1em 0;
}

.GalleryThree :last-child
{
    margin-left: 1em;
}

.ImgGalleryThree
{
    width: calc(50% - 0.5em);
    height: 50%;
}

.FourPage > button
{
    background-color: #5585A2;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 0.8em 1.8em;
}

.FivePage
{
    background: url('../img/FivePage.jpg') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 2em;

}

.FivePage > p
{
    width: 50%;
    margin: 1em 0;
}

.FivePage > h4
{
    margin-bottom: 1em;
    width: 60%;
}

.Subscribe > button
{

    padding: 0.5em;
    font-size: 1.2em;
    color: #fff;
    background-color: #96B92C;
    text-transform: uppercase;
}

.Subscribe > input
{
    margin-right: 1em;
    padding: 0.7em;
    font-size: 1em;
    width: 50%;
}

.SixPage
{
    background-color: #B07CF7;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2em 5em;
}

.SixIntro
{
    display: flex;
    flex-direction: column;
}

.SixIntro > p
{
    margin: 1em auto;
}

.Blog
{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.Blog > img
{
    height: 35%;
    width: 35%;
    margin: 0.25em;
}

.SixPage > button
{
    color: #fff;
    background-color: #F72B3B;
    font-size: 0.45rem;
    text-transform: uppercase;
    padding: 0.5em;
    margin-top: 1em;
    width: 10em;
}

.SevenPage
{
    background: url("../img/SevenPage.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2em;
}

.SevenPage > p {
    margin: 1em 0;
    width: 50%;
}

.SevenContent
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30em;
}

.SevenContact
{
    margin-right: 2em;
}

.SevenContact > div
{
    background-color: #00C4C4;
    color: white;
    text-align: left;
    margin-bottom: 1em;
    padding: 0.5em;
}

.SevenContact > input
{
    background-color: #00C4C4;
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 0.45rem;
    width: calc(100% - 2px - 1em);
}

.SevenContact > input::placeholder
{
    color: white;
}

textarea
{
    background-color: #00C4C4;
    width: calc(100% - 2px - 1em);
    height: 8em;
    font-size: 0.45rem;
    padding: 0.5em;
}

textarea::placeholder
{
    color: white;
}

.SevenData
{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2em;
}

.SevenData > div
{
    margin: 0.25em 0;
}

h6
{
    text-transform: uppercase;
}

.SevenData > div > p
{
    width: 100%;
}

footer
{
    background-color: #262626;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

footer > div
{
    flex-basis: 25%;
}

footer > div > p > span
{
    color: #FF2B58;
}

footer > div > p
{
    width: 100%;
}