body
{
    background-color: #5d6e9e;
    margin: 3em;
}

header
{
    background-color: white;
}

.MenuBar
{
    background-color: #56CCC8;
}

.Info
{
    background-color: #C5CDD1;
}

.Menu
{
    background-color: #152840;
}

.colorMenu
{
    color: #56CCC8;
}

.Icon > div > img
{
    width: 2rem;
    height: 2rem;
}

.colorFacebook
{
    background-color: #4D6BAA;
}

.colorTwitter
{
    background-color: #4FC6F8;
}

#AlbumArt1
{
    background: url("../img/photographer.jpg") no-repeat;
    background-size: 100% 100%;
}

#AlbumArt2
{
    background: url("../img/british-columbia.jpg") no-repeat;
    background-size: 100% 100%;
}

#AlbumArt3
{
    background: url("../img/london.jpg") no-repeat;
    background-size: 100% 100%;
}

#AlbumArt4
{
    background: url("../img/forest.jpg") no-repeat;
    background-size: 100% 100%;
}

.Circle
{
    width: 1em;
    height: 1em;
}

ul > li > a :hover
{
    color: #4FC6F8;
}

.Menu :hover
{
    background-color: rgba(51, 95, 238, 0.1);
    color: white;
}

.off
{
    display: none;
}

.on
{
    visibility: visible;
}

.white
{
    background-color: white;
}

.grey
{
    background-color: grey;
}

.Store
{
    background: url("../img/kiss.jpg") no-repeat;
    background-size: 100% 100%;
}

.Instagram
{
    background: url("../img/morning.jpg") no-repeat;
    background-size: 100% 100%;
}

.MoreStore
{
    background: url("../img/ibis.jpg") no-repeat;
    background-size: 100% 100%;
}